@model IEnumerable<SgProperty.Models.Property>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HousingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AskingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreedPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longtitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExclusiveStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HousingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AskingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreedPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longtitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clicked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExclusiveStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyId })
        </td>
    </tr>
}

</table>
